<ul>
  <% data.posts.map(post=> { %>
    <li>
      <a href="/post/<%= post._id %>">
        <h6>
          <%= post.author %>:
            <% if (post.date_created===post.date_updated) { %>
              Creado: <%= new Date(post.date_created).toDateString() %>
                <% } else { %>
                  Actualizado: <%= new Date(post.date_updated).toDateString() %>
                    <% } %>
        </h6>
        <h1>
          <%= post.title %>
        </h1>
        <p>
          <%= post.content %>
        </p>
      </a>
    </li>
    <% }); %>
</ul>