<style>
  #search::placeholder {
    color: white;
  }

  #search:focus {
    border-color: white;
  }
</style>
<main class="row m-0 p-2 justify-content-center">
  <div class="col-12">
    <div class="col-6 mx-auto">
      <div class="input-group border-white shadow-none">
        <input type="text" id="search" class="form-control shadow-none bg-dark text-white" placeholder="Buscar...">
        <button type="button" class="btn btn-dark input-group-text p-2 border-white">
          <i class="fa-solid fa-magnifying-glass m-auto"></i></button>
      </div>
    </div>
  </div>
  <% data.posts.map(post=> { %>
    <article class="col-12 col-sm-6 col-md-4 col-lg-3 p-2 align-items-stretch">
      <div class="card bg-transparent text-white p-0 h-100">
        <div class="card-header row m-0">
          <a href="/profile/<%= post.author %>" class="btn bg-dark btn-dark col-auto">
            <i class="fa fa-user bg-white text-black p-2 rounded-5"></i>
            <span class="font-monospace text-white">
              <%= post.author %>
            </span>
          </a>
        </div>
        <div class="card-body">
          <div class="card-title fw-bold">
            <%= post.title %>
          </div>
          <p class="card-text text-break">
            <%= post.content %>
          </p>
        </div>
        <div class="card-footer text-center m-0 px-0">
          <a href="/post/<%= post._id %>" class="link-info m-0">
            Ver Post <i class="fa fa-comments"></i>
          </a>
          <div class="text-small m-0">
            <% if (post.date_created===post.date_updated) { %>
              <small class="text-small fw-light badge bg-dark">
                <%= post.date_created %>
              </small>
              <% } else { %>
                <small class="text-small fw-light badge bg-dark">Actualizado: <%= post.date_updated %></small>
                <% } %>
          </div>
        </div>
      </div>
    </article>
    <% }); %>
</main>