<h1>
  <%= data.author.username %>
</h1><br>
<h2>
  <%= data.author.email %>
</h2>
<h2>
  <%= data.author.date_created %>
</h2>
<ul>
  <% data.posts.map(post=> { %>
    <li>
      <a href="/post/<%= post._id %>">
        <h6>
          <% if (post.date_created===post.date_updated) { %>
            Creado: <%= post.date_created %>
              <% } else { %>
                Creado: <%= post.date_created %>
                  Actualizado: <%= post.date_updated %>
                    <% } %>
                      <form action="/api/posts/delete/<%= post._id %>" method="post">
                        <input type="submit" value="Delete">
                      </form>
        </h6>
        <h1>
          <%= post.title %>
        </h1>
        <p>
          <%= post.content %>
        </p>
      </a>
    </li>
    <% }); %>
</ul>